<div class="container">
  <div class="search">
    <mat-form-field class="search-title-cards">
      <input 
        matInput 
        placeholder="Search" 
        value="{{search}}"
        (keyup)="onChangeSearch($event)"
      >
    </mat-form-field>
    <button
      (click)="onClearFilter()"
    >
      All Title
    </button>
  </div>
  <mat-tab-group 
    class="tab-title-card"
    (selectedTabChange)="onclickTab($event)"
    [(selectedIndex)]="selectCategory"
  >
    <mat-tab 
      *ngFor="let categoryCard of categoryCards" 
      label="{{categoryCard}}"
    >
      <app-title-card-item
        *ngFor="let titleCardItem of titleCards"
        [titleCardItem]="titleCardItem"
      ></app-title-card-item>
    </mat-tab>
  </mat-tab-group>
</div>
